
##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## Creating tuples
t = (1,2,3)
print(type(t))

t2 = ()
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
## Accessing tuple elements
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[0])
print(numbers[2])
print(numbers[-1])

1
3
6

In [8]:
numbers[0:4]

(1, 2, 3, 4)

#### Tuple operations

In [9]:
concat_tpl = numbers + mixed_tuple
print(concat_tpl)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [10]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [11]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
### Immutable natures

lst = [1,2,3,4,5]
print(lst)
lst[1] = "Tejas"
print(lst)

numbers[1] = 'tejas'
print(numbers)

[1, 2, 3, 4, 5]
[1, 'Tejas', 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

## Tuple methods

In [17]:
print(numbers.count(3))
print(numbers.index(3))

1
2

### Packing and Unpacking tuples

In [18]:
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [20]:
## Unpacking of tuple
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [21]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [22]:
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [23]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [24]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [25]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False